.automargined { margin-left: auto; margin-right: auto; }
.centered { text-align: center; }
.topspaced { margin-top: 15px; }

.centered * { display: inline-block; text-align:left;}

td.Skyrates { background-color: #99ccff !important; }
td.Skybug { background-color: #ffcc99 !important; }
td.Skydevs { background-color: #99ffcc !important; }
td.Webskyte { background-color: #cc99ff !important; }
td.Bug { background-color: #ff99cc !important; }
td.Feature { background-color: #ccff99 !important; }

.righted {
    float: right;
    text-align: right;
}

.league { color:#2072ef; }
.hand { color:#01bb02; }
.armada { color:#f20202; }
.order { color:#763c01; }
.court { color:#9152df; }
.school { color:#a96600; }
.indies { color:#e45d03; }

#footer {
    width: 80%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #555;
}

#user {
	background-color: #fff;
	padding: 0px;
	display: block;
	margin: 0em;
	border: 1px solid #555;
}

#user div {
	margin: 5px;
}

#user button {
	margin: 2px;
}

/* Buttons. Code by Kevin Hale, taken from http://particletree.com/features/rediscovering-the-button-element/ , used by CC-BY license*/

button{
    margin:0 0 0 0;
    background-color:#fff;
    border:0px;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:80%;
    line-height:80%;
    text-decoration:none;
    color:#565656;
    cursor:pointer;
    padding:1px; /* Links */
}
button{
    width:auto;
    overflow:visible;
    padding:1px; /* IE6 */
}
button[type]{
    padding:1px; /* Firefox */
    line-height:80%; /* Safari */
}
*:first-child+html button[type]{
    padding:1px; /* IE7 */
}
button img {
    margin:-2px -2px -2px -2px !important;
    padding:0;
    border:none;
    width:14px;
    height:14px;
}

button.submit {
    border: 2px outset #555;
    margin: 1em;
    color: #000;
    font-size: 105%;
}

button.submit:active{
    border-style: inset;
}

button:hover{
    background-color:#dff4ff;
    color:#336699;
}

button.positive{
    color:#529214;
}
button.positive:hover{
    background-color:#E6EFC2;
    color:#529214;
}

button.negative{
    color:#d12f19;
}
button.negative:hover{
    background:#fbe3e4;
    color:#d12f19;
}

button.pressed{
     filter: alpha(opacity=40);
     opacity: 0.4;
}

button.disabled{
     filter: alpha(opacity=20) !important;
     opacity: 0.2 !important;
}

body {
    font-family:arial;
    background-color: #CDCDCD;
    font-size: 8pt;
}

/* tables */
table.tablesorter {
	margin:10px 0pt 15px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
        text-align: left;
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
        border: 1px solid #555;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
