/* Buttons. Code by Kevin Hale, taken from http://particletree.com/features/rediscovering-the-button-element/ , used by CC-BY license*/

button{
    margin:0 0 0 0;
    background-color:#fff;
    border:0px;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:80%;
    line-height:80%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:0px 0px 0px 0px; /* Links */
}
button{
    width:auto;
    overflow:visible;
    padding:0px 0px 0px 0px; /* IE6 */
}
button[type]{
    padding:0px 0px 0px 0px; /* Firefox */
    line-height:80%; /* Safari */
}
*:first-child+html button[type]{
    padding:0px 0px 0px 0px; /* IE7 */
}
button img {
    margin:-3px -3px -3px -3px !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

button:hover{
    background-color:#dff4ff;
    color:#336699;
}

button.positive{
    color:#529214;
}
button.positive:hover{
    background-color:#E6EFC2;
    color:#529214;
}

button.negative{
    color:#d12f19;
}
button.negative:hover{
    background:#fbe3e4;
    color:#d12f19;
}
